@model Application.ViewModels.Customer.LoanMovieViewModel
@{

    ViewBag.Title = "Loan Movie";

}

<h2>@ViewBag.Title</h2>
<h3>@Model.Customer.FullName</h3>
<form asp-controller="Customer" asp-action="LoanMovie" method="post" class="mt-3">
    <input type="hidden" name="customerId" asp-for="Customer.Id" />
    <div class="form-group row">
        <div class="col-md-3">
            <label class="col-form-label">Select movie</label>
            <select name="movieId" class="form-control" id="movieList">
            </select>
        </div>
    </div>

    <div class="form-group row">

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-sm"->Loan</button>
        </div>
    </div>
</form>
<h3>Loaned Movies:</h3>
<table id="movie" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Poster</th>
            <th>Title</th>
            <th>Release Date</th>


            <th>Duration In Minutes</th>
            <th>Genre</th>
            <th>Director In Minutes</th>
            <th>In Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr style="height: 60px;">
                <th>Poster</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Duration In Minutes</th>
                <th>Genre</th>
                <th>Director In Minutes</th>
                <th>In Stock</th>
                <td>
                    <form asp-controller="Customer" asp-action="ReturnMovie" method="post" class="mt-3">
                        <input type="hidden" name="customerId" asp-for="Customer.Id" />
                        <input type="hidden" name="movieId" asp-for="@movie.Id" />
                        <button type="submit" class="btn btn-info btn-sm">Return</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-sm btn-outline-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>



@section Scripts
{
    <script src="~/js/movies-select2.js"></script>
}
